.order-summary-container {
    display: flex;
    min-height: 90vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.order-summary-box{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.order-summary-box-button{
    margin: 0 0.5rem 0 0.5rem;
}