.home-page{
    min-height: 100vh;
    margin-top: 3.25rem;
}

.carousel-caption{
    color: black;
}

.carousel {
    width: 100%;
    height: auto;
    margin: auto;
  }

.carousel-item{
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.home-page-image{
    width:100%;
    height:auto;
    font-size: 16px;
    object-fit: contain;    
}

.card-accordian{
    margin: 1rem 0 1rem 0;
    background-color: #6Ec0Fb;
    opacity: 0.9;
    
}

.card-accordian .card-body{
    font-size: 13px;
}

/* PC version */
@media only screen and (min-width: 769px) {
    .carousel-item{
        height: 600px;
        overflow: hidden;
        width: 100%;
    }

    .home-page-image{
        height:auto; 
    }
}