.QuizBox {
    text-align: center;
    min-height: 90vh
}

.AnswersBox {
    margin-bottom: 2rem;
    width : 50%;
}

.AnswersBox h3 {
    padding: 0.325rem;
}

.jumbotron {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

