.authentication-page-box {
    display: flex;
    min-height: 100vh;
    margin-top: 5rem;
    padding: 0 0.5rem 0 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.authentication-page-box button{
    margin: 0.5rem;
    width: 100%;
}

.error-text{
    color: red;
    font-weight: bold;
}

.authentication-page-box .form-control{
    width: auto;
}


/* PC version */
@media only screen and (min-width: 768px) {
    .authentication-page-box{
        max-width: 50%; 
        margin-top: 5rem
        }
    .authentication-page-box button{
        margin: 0.5rem;
         width: 60%;
    }
    }