.cart-item-card {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 50%;
    width: 50%;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
}

.cart-item-card-img{
    height: 40%;
    width: 100%;
}

.cart-item-card-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-item-card-body *{
    font-size: 80%;
}

.cart-item-card-delete-item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30%;
    border: 1px double red;
    padding: 0.2rem;
}

.cart-item-card-delete-item-container *{
    color: red;
}
    
@media only screen and (min-width: 768px) {
    .cart-item-card-body *{
        display: flex;
        flex-direction: row;
        font-size: 90%;
    }

    .cart-item-card-img{
        height: 150px;
        width: 150px
    }

    .cart-item-card {
        height: 30%;
        width: 20%;
    }
}