.footer {
width: 100%;
height: auto;
background-color: #007bff;
bottom: 0;
color: black;
padding: 5px 5px 5px 5px;
margin-left: 0;
margin-right: 0;
text-align: end;
position: relative;
right: 0;
bottom: 0;
left: 0;
}