.bg-primary{
    background-color: #33DBFF;
    opacity: 0.95;
}

.btn-primary{
    width: 100%;
    color: black;
}

/* PC version */
@media only screen and (min-width: 769px) {
    .auth{margin-left: auto}
    .btn-primary{width: auto}
    }