.BrandLogo {
height: 3rem;
}

.header-router-a {
    color: black;
    display: block;
    padding: .5rem 1rem;
}

.header-router-a:hover{
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.active {
    font-weight:bold;
    text-decoration:underline;
}