.product-card {
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 40%;
    max-height: 50%;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
}

.product-card-img{
    height: 50%;
    width: 55%;
}
    
.product-card-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column !important;
}

.product-card-body *{
    font-size: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
    
@media only screen and (min-width: 769px) {

    .product-card-img{
        height: 70%;
        width: 55%;
    }

    .product-card-body *{
        font-size: 85%;
    }

    .product-card {
        max-width: 30%;
        max-height: 40%;
    }

}