.shopper-header{
    margin-top: 6rem;
}

.shopper-header h3{
    margin: 0.5rem;
    color: #ff3333;
}

.badge-primary{
    background-color: #ff8080;
}

.shopper-header-links-container{
    display: flex;
    justify-content: space-evenly;
}

.shopper-header-links{
    margin: 0 0.7rem 0 0.7rem;
}

.shopper-header-note {
   font-size: 70%;
   margin: 0 2rem 0 2rem;
   padding: 0.2rem;
   border: 1px solid black;
}

/* PC version */
@media only screen and (min-width: 768px) {
    .shopper-header{
        margin-top: 6rem
    }
}