.carousel-main-container{
    width: 100%;
    height: 300px;
    margin: auto;
}

.home-page-image{
    height: 300px;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .carousel-item-container{
        width: 100%;
        height: auto;
    }

    .home-page-image{
        height: 700px;
        width: 100%;
    }

    .carousel-main-container{
        width: 60%;
        height: 700px;
    }

}